{% extends 'base.html.twig' %}

{% block body %}
    <h2>Willkommen Herr {{user.nachname}} </h2> 
    <h2>Welche Fahrzeugmarke interessiert Sie besonders?</h2>
    <ul>
        {% for data in arr %}
            <li>{{data}}</li>
        {% endfor %}
    </ul>
{% endblock %}
